:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  background-color: #c4f4f2;
  align-items: center;
  font-family: system-ui,
}

.flex {
  display: flex;
  text-align: center;
}

.margin-80 {
  margin: 0 80px;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sub-ttl {
  position: absolute;
  top: 38vh;
  color: #afdcdc;
}

header {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  align-items: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #64a4a1;
  color: #ffffff;
}

.page-section {
  margin: 200px 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fs {
  font-size: 1.5rem;
}
.fs-m {
  font-size: 30px;
}
.fs-s {
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  justify-content: space-around;
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #67d8d2;
}

.container {
  height: 100vh;
  padding: 120px;
}

.profile-wrap {
  position: relative;
  width: 100%;
  height: 380px;
}

.profile-img {
  position: absolute;
  left: 8%;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.2;
  animation: 3s linear infinite rotation;
  animation-duration: 10s;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-content {
  position: absolute;
  left: 25%;
}

.section {
  margin-top: 80px;
  margin-bottom: 60px;
}

.skill-icon-list {
  display: flex;
  justify-content: space-around;
}

.skill-icon {
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width:992px) {
  .profile-img {
      top: 20px;
    }

  .profile-content {
      left: 0;
    }
}