:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  width: 100%;
  align-items: center;
  font-family: system-ui;
}

.home-top {
  background-color: #c4f4f2;
}

.padding-80 {
  padding: 0 80px;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-ttl {
  margin-left: 5%;
}

.home-sub-ttl {
  position: absolute;
  top: 38vh;
  color: #afdcdc;
  margin-left: 6%;
}

header {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #64a4a1;
  color: #ffffff;
}

.page-section {
  padding: 100px 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fs {
  font-size: 1.5rem;
}
.fs-m {
  font-size: 30px;
}
.fs-s {
  font-size: 20px;
}

.profile-section {
  padding: 0 10%;
}

.profile-wrap {
  width: 100%;
  position: relative;
  margin: 100px 0;
}

.profile-img {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.2;
  background-image: url("/public/starfishbig.png");
  background-repeat: no-repeat;
  background-position: center center;
  animation: linear infinite rotation;
  animation-duration: 10s;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-content {
  width: 80%;
  margin-left: auto;
}

.section {
  padding: 80px 50px 40px 50px;
}

.skill-icon-list {
  display: flex;
  margin: 100px 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.skills-content {
  margin-bottom: 150px;
}

.card {
  cursor: pointer;
}

.card-text {
  color: #3f3f3f;
}
.card:hover img {
  transform: scale(1.2);
}

.card img {
  position: relative;
}

.transition {
  transition: transform 0.5s ease-in-out;
}

.contact {
  background-color: #c4f4f2;
}

.contact-icon {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  margin: 0 5px;
}

.contact-text {
  margin: 100px 0;
}

.work {
  height: 100%;
  margin-bottom: 100px;
}

.work-top {
  padding: 100px 0;
}

.work-git {
  height: 50px;
  margin-top: 30px;
}

.work-git p {
  margin: 0;
}
.work-git-item {
  width: 100px;
}

.work-git-icon {
  width: 40px;
}

.work-img {
  margin: 0 auto;
}

.work-content {
  margin: 0 50px 50px 50px;
}

.profile {
  padding: 120px 80px;
  position: relative;
}

.profile-img-s {
  position: absolute;
  width: 150px;
  right: 150px;
  bottom: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.4;
  transform: rotate(45deg);
}
.profile-img-m {
  position: absolute;
  width: 300px;
  right: 150px;
  bottom: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.2;
  transform: rotate(10deg);
}

.skills {
  padding: 120px 20px;
}

.most-skill,
.other-skill {
  margin: 20px;
}

.most-skill img {
  width: 60px;
  margin-right: 10px;
}

.other {
  margin: 100px 0;
}

.other h5 {
  margin-top: 50px;
}

.other-skill img {
  width: 50px;
  margin-right: 10px;
}

Table tbody tr td p {
  padding: 0 25px;
  font-size: 20px;
  font-weight: 400;
}
Table tbody tr td img {
  margin-left: 5px;
  margin-right: 25px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0.7;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .fs-m {
    font-size: 24px;
  }

  .profile-section {
    padding: 0 20px;
  }

  .profile-content {
    margin: 0 auto;
  }

  .skills {
    padding: 0 20px;
  }

  .skill-icon-list {
    margin: 100px 20px;
  }

  .skill-icon {
    margin-bottom: 10px;
  }

  .work-ttl {
    margin-bottom: 150px;
  }

  .profile {
    padding: 120px 30px;
  }

  .profile-img-s,
  .profile-img-m {
    right: 50px;
    bottom: 350px;
  }

  Table tbody tr td p {
    padding: 0;
  }

  .nav-link {
    background-color: #eef6f6b1;
    margin-right: 0;
  }

  .nav-link:first-child {
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
  }

  .nav-link:last-child {
    border-radius: 0 0 10px 10px;
  }

  .work-content {
    margin: 0 0 50px 0;
  }
}
