:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  width: 100%;
  align-items: center;
  font-family: system-ui;
}

.home-top {
  background-color: #c4f4f2;
}

.flex {
  display: flex;
  text-align: center;
}

.padding-80 {
  padding: 0 80px;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ttl {
  margin-left: 5%;
}

.sub-ttl {
  position: absolute;
  top: 38vh;
  color: #afdcdc;
  margin-left: 6%;
}

header {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  align-items: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #64a4a1;
  color: #ffffff;
}

.page-section {
  padding: 100px 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fs {
  font-size: 1.5rem;
}
.fs-m {
  font-size: 30px;
}
.fs-s {
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  justify-content: space-around;
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #67d8d2;
}

.profile-wrap {
  position: relative;
  width: 100%;
  height: 380px;
}

.profile-img {
  position: absolute;
  left: 8%;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.2;
  animation:linear infinite rotation;
  animation-duration: 10s;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-content {
  position: absolute;
  left: 25%;
  margin-right: 80px;
}

.section {
  padding: 80px 50px 40px 50px;
}

.skill-icon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.skill-icon {
  width: 50px;
  height: 50px;
}

.skills-content {
  margin-bottom: 150px;
}

.card {
  cursor: pointer;
}

.card-text {
  color: #3f3f3f;
}
.card:hover img {
  transform: scale(1.2);
}

.card img {
  position: relative;
}

.transition {
  transition: transform 0.5s ease-in-out;
}

.contact {
  background-color: #c4f4f2;
}

.contact-icon {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  margin: 0 5px;
}

.contact-text {
  margin: 100px 0;
}

.work {
  height: 100%;
  margin-bottom: 100px;
}

.work-top {
  padding: 100px 0;
}

.work-git {
  height: 50px;
  margin-top: 30px;
}

.work-git p {
  margin: 0;
}
.work-git-item {
  width: 100px;
}

.work-git-icon {
  width: 40px;
}

.work-img {
  margin: 0 auto;
}

.work-content {
  margin: 0 50px 50px 50px;
}

.profile {
  padding: 120px 20px;
  position: relative;
}

.profile-img-s {
  position: absolute;
  width: 150px;
  right: 150px;
  bottom: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.profile-img-m {
  position: absolute;
  width: 300px;
  right: 150px;
  bottom: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  opacity: 0.2;
  transform: rotate(10deg);
}

.skills {
  padding: 120px 20px;
}

.most-skill,
.other-skill {
  margin: 20px;
}

.most-skill img {
  width: 60px;
  margin-right: 10px;
}

.other {
  margin: 100px 0;
}

.other h5 {
  margin-top: 50px;
}

.other-skill img{
  width: 50px;
  margin-right: 10px;
}


Table tbody tr td h5 {
  padding: 0 20px;
}
Table tbody tr td p {
  padding: 0 25px;
}
Table tbody tr td img {
  margin-left: 5px;
  margin-right: 25px;
}


.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0.7;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .profile-img {
    top: 20px;
  }

  .profile-content {
    left: 0;
    margin: 0 35px;
  }

  .work-ttl {
    margin-bottom: 150px;
  }
}
